body {
    background-color: lavender;
}
h1 {
	font-family:Comic Sans MS,cursive, sans-serif;
	text-align: center;
	font-size:30pt;
    color: rgb(255,99,71);
    border:2px tomato;
}
p {
	font-family: "Courier New", Courier, monospace;
	font-size:14pt;
    color: darkblue;
    text-align: justify;
}
a{
	font-family: "times New roman";
	color: orange;
}